[package]
name = "dot-repl-ui"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router"] }
dioxus-router = "0.7.1"
# api = { workspace = true }
roxmltree = "0.21.1"
roughr = { version = "0.12.0", optional = true }
num-traits = { version = "0.2", optional = true }
euclid = { version = "0.22", optional = true }
thiserror.workspace = true
url-escape = "0.1.1"
reqwest = { version = "0.11", features = ["json"] }
web-sys = { version = "0.3", features = ["Window", "Document", "Element"] }

# roughr needs wasm getrandom support
[target.'cfg(target_arch = "wasm32")'.dependencies]
# getrandom = { version = "0.3", features = ["wasm_js"] }
# We have netsed deps that use v0.2, so we need to ensure the feature is flagged here
getrandom_v02 = { package = "getrandom", version = "0.2.15", features = ["js"] }
web-sys = { workspace = true }
gloo-timers = { version = "0.2", features = ["futures"] }
wasm-bindgen-futures = "0.4"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1", features = ["full"] }

[features]
default = ["rough"]
desktop = []
rough = ["roughr", "num-traits", "euclid"]
# server = ["api/server"]
